#frameContainer {
    position: relative;
    width: calc(98% - 20px);
    margin: 10px;
}

#frameContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#frameContainer img:last-of-type {
    position: relative!important;
}

#mainPhoto {
    position: absolute;
    width: 80%!important;
    top: 15%!important;
    left: 10%!important;
}

#caption {
    position: absolute;
    left: 10%;
    width: 80%;
    bottom: 18%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#caption > span {
    font-family: "Parchment-MF";
    font-size: 1vw;
    line-height: 90%;
    color: #797979;
    text-transform: uppercase;
}